<%= link_to('<< back home', announcements_path, :class => 'back-link', class: 'button1') %>

<center>
<h1>Edit Announcement</h1>
<% if @error %>
<p><b>There was an error updating the announcement. Please try again.</b></p>
<% end %>

<%= form_for(@announcement) do |f| %>
<%= render(:partial => 'form', :locals => {:f => f}) %>

<%= f.submit('Save') %>
<% end %>
</center>
