<div class="wrapper">
	<div class="container">
		<h1>Log in</h1>

		<form class="form">
			<input type="text" placeholder="Username">
			<input type="password" placeholder="Password">
      <%= link_to '<button type="button">Sign in with Google</button>'.html_safe, admin_google_oauth2_omniauth_authorize_path %>
		</form>
	</div>
</div>
